# Insurance Database

## Configuration:
### Install Packages:

Ensure you have the library `sqlalchemy` installed in order to connect to the MySQL database.  Install these packages by uncommenting the code cell below:

In [1]:
# !pip install sqlalchemy

This Jupyter Notebook also requires the libraries `pandas` and `matplotlib` for importing and visualizing data.  Install these packages by uncommenting the code cell below:

In [2]:
# !pip install pandas
# !pip install matplotlib

### Load Functions and Packages:

In [3]:
import database_info #personal .py file containing database login info
import matplotlib.pyplot as plt
import pandas as pd
from sqlalchemy import create_engine

### Connect to SQL Database:

Now we can make our SQL connnection, first load in your `database_info.py` file:

In [4]:
import database_info

Now let's create our connection engine.  Make sure you've updated `database_info.py` with your connection information as well as ensuring the port number is correct:

In [5]:
from sqlalchemy import create_engine
engine = create_engine(database_info.connection_string)

## Import SQL tables using `pandas`:

In [6]:
query_string = "SELECT * FROM claim_fact"
dt = pd.read_sql(query_string, engine)

In [7]:
dt.head()

,IDNO,ClaimID,ClaimLineNum,ClaimStatusCd,ClaimType,MemberID,ProviderID,posID,ServiceDate,LoadDate,Code_Type,Code_Value,AllowedCharges,PaidClaims,MemberPaid
0,1,1,1,A,P,251,1348,4,2019-01-18,2019-03-02,HCPC,D9222,225.0,0.0,225.0
1,2,1,2,A,P,251,1348,4,2019-01-18,2019-03-02,HCPC,D9223,413.0,0.0,413.0
2,3,2,2,A,P,251,1348,4,2019-01-18,2019-03-02,HCPC,D7230,275.0,0.0,275.0
3,4,2,3,A,P,251,1348,4,2019-01-18,2019-03-02,HCPC,D7230,275.0,37.0,238.0
4,5,2,4,A,P,251,1348,4,2019-01-18,2019-03-02,HCPC,D7230,275.0,37.0,238.0

Our table names are:
- `claim_fact`
- `dim_date`
- `dim_member`
- `dim_member_condition`
- `dim_place_of_service`
- `dim_procedure`
- `dim_provider`
- `dim_provider_specialty`
- `dim_provider_category`

## Analysis and Visualizations:

In [8]:
# #convert columns
# import pandas as pd

# claims['ServiceDate'] = pd.to_datetime(claims['ServiceDate'])
# claims['LoadDate'] = pd.to_datetime(claims['LoadDate'])
# claims['AllowedCharges'] = pd.to_numeric(claims['AllowedCharges'])
# claims['PaidClaims'] = pd.to_numeric(claims['PaidClaims'])
# claims['MemberPaid'] = pd.to_numeric(claims['MemberPaid'])

# claims.info()

In [9]:
# #convert members columns to date
# members['dateOfBirth'] = pd.to_datetime(members['dateOfBirth'])
# members['StartDate'] = pd.to_datetime(members['StartDate'])
# members['EndDate'] = pd.to_datetime(members['EndDate'])
# members.info()

In [10]:
# #get number of males v females
# member_sex_counts = members["Gender"].value_counts()
# print(member_sex_counts, "\n")

# #get proportions of males v females
# member_sex_props = members["Gender"].value_counts(normalize=True)
# print(member_sex_props)

In [11]:
# #plot data in matplotlib
# import matplotlib.pyplot as plt
# fig, ax = plt.subplots()

# member_sex_props.plot(kind="bar")

# ax.set_xlabel("Sex")
# ax.set_ylabel("Proportion")
# ax.set_title("Histogram of Member Sex")
# plt.show()

In [12]:
# fig, ax = plt.subplots()

# members_type_of_policy = members["Product"].value_counts(normalize=True)
# members_type_of_policy.plot(kind="bar")

# ax.set_xlabel("Plan Type")
# ax.set_ylabel("Proportion")
# ax.set_title("Histogram of Member Plan Type")

# plt.show()